{% extends 'main.html' %}

{% block content %}

<h1>Room Template</h1>
<div>
    <div>
        <h5> {{ room.name  }}</h5>
        <h1>{{room.description}}</h1>
    </div>
</div>

<div class="comment-wrapper">
    <h3>Conversation</h3>
    <hr>

    {% for message in room_messages %}
    <div>
        <small>@{{ message.user }} {{ message.created | timesince }} ago</small>
        <p>{{ message.body }}</p>

        <hr>

    </div>
    {% endfor %}
</div>
{% if request.user.is_authenticated %}

<div class="comment-form">
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="write your message here....."/>
    </form>

</div> 
{% endif %}

{% endblock content %}